@value makerPurple, makerWhite from '../../common/colors.css';

.preview {
  flex: 1 1 50%;
  text-align: center;
  background-color: makerWhite;
  overflow-y: auto;
}

.title {
  color: makerPurple;
  margin: 1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
