@value makerDarkBlue from '../../common/colors.css';

.maker {
  flex: 1 1 50%;
  text-align: center;
  background-color: #f9efa8;
  /* background-color: makerWhite; */
}
.title {
  color: makerDarkBlue;
  margin: 1rem;
}
