@value makerBlack, makerLightGrey, makerColorful from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

p {
  margin: 0;
}

.card {
  width: 80%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0.2em 0;
  margin-bottom: 0.5em;
}

.card.dark {
  background-color: makerBlack;
  color: makerWhite;
}

.card.light {
  background-color: makerLightGrey;
  color: makerBlack;
}

.card.colorful {
  background: makerColorful;
  color: makerBlack;
}

.img {
  width: 10em;
  height: 10em;
  margin-left: 0.5em;
  padding: 1em;
  border-radius: 50%;
}

.info {
  width: 100%;
  text-align: left;
  padding-right: 1em;
}

.name,
.company,
.title,
.email,
.message {
  margin-bottom: 0.2em;
  width: 100%;
  word-break: break-all;
}

.company {
  margin-bottom: 0.8em;
}

.company::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: white;
  transform: translateY(0.5em);
}

@media screen and (max-width: mediaQuery) {
  .img {
    width: 6rem;
    height: 6rem;
    margin-left: 0;
  }

  .name {
    font-size: 0.9rem;
  }

  .company,
  .title,
  .email,
  .message {
    font-size: 0.8rem;
  }
}
