@value makerBlack, makerRedPink, makerPurpleBlue, makerWhite from '../../common/colors.css';

.button {
  padding: 0.5rem;
  flex: 1 1 50%;
  border: 1px solid makerBlack;
  color: makerWhite;
  outline: 0;
  cursor: pointer;
}

.button.delete {
  background-color: makerRedPink;
  color: makerWhite;
}

.button.add {
  background-color: makerPurpleBlue;
}

.button:hover {
  opacity: 0.8;
}
