@value makerWhite, makerDarkBlue, makerBlue from '../../common/colors.css';

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border-style: none;
  background-color: transparent;
  padding: 0;
}

.login {
  width: 30em;
  background-color: makerWhite;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0;
  padding: 1em;
}

li:first-child {
  margin-bottom: 0.5em;
}

.buttons {
  margin-bottom: 1em;
}

.button {
  border: 2px solid makerDarkBlue;
  border-radius: 20px;
  width: 90%;
  padding: 1em;
  cursor: pointer;
}

.button:hover {
  background-color: makerBlue;
}
