@value mediaQuery from '../../common/size.css';

.maker {
  width: 80vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

@media screen and (max-width: mediaQuery) {
  .maker {
    height: 100%;
  }
  .container {
    flex-direction: column;
  }
}
